.Button_container__1Hjr8 {
  color: white;
  background-color: black;
  padding: 4px;
  border-radius: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button_container__1Hjr8:active {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.Button_disabled__YPGS4 {
  cursor: default;
}

.Button_disabled__YPGS4 > * {
  opacity: 0.3;
}

.Button_disabled__YPGS4:active {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.Button_active__TIxrD {
  box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.6);
}

.ImageCropper_container__2EAmV {
  background-color: #101010;
  align-self: center;
  align-items: center;
  border-radius: 6px;
  touch-action: none;
  padding: 10px;
}

.ImageCropper_boundary__2K2Co {
  box-sizing: border-box;
  cursor: move;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  background: #111;
  border: 1px solid black;
  border-radius: 6px;
  touch-action: none;
}

.ImageCropper_viewport__2V5G2 {
  width: 110px;
  height: 290px;
  border: 1px solid white;
  position: absolute;
  left: 95px;
  top: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 2000px;
  touch-action: none;
}

.ImageCropper_widthSlider__-yxEx, .ImageCropper_heightSlider__1LrLn {
  position: absolute;
  top: 20px;
  height: 250px;
  border-radius: 2px;
  opacity: 0.6;
}

.ImageCropper_widthSlider__-yxEx {
  left: 10px;
}

.ImageCropper_heightSlider__1LrLn {
  right: 10px;
}

.ImageCropper_buttons__mJ107 {
  width: 100%;
  margin: 5px;
  touch-action: none;
}

.ImageCropper_buttons__mJ107 .ImageCropper_save__2BRGM {
  font-weight: bold;
}

.ImageCropper_buttonsRow1__bwZDH, .ImageCropper_buttonsRow2__3Caou {
  margin-top: 10px;
}

.ImageCropper_button__KrqRd {
  flex: 1 0;
  margin-left: 5px;
}

.ImageCropper_button__KrqRd:first-child {
  margin-right: 5px;
}

.ImageCropper_buttonInner__3Mn1w {
  padding: 5px;
}

.ImageCropper_hiddenInput__vux_r {
  display: none;
}

.ImageCropper_stats__5EZk6 {
  font-size: 10px;

}

.AppPage_appPage__3V4eC {
}

.AppPage_fixed__12xP8 {
  -webkit-overflow-scrolling: auto;
}

.ArrowLink_arrowLink__3cRei {
  font-size: smaller;
}

.ArrowLink_arrowLink__3cRei:before {
  content: '➤ ';
}

.ButtonConfirm_button__3zLf9 {
  margin: 10px;
}

.ButtonImage_container__FbXzm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 8px;
  width: 110px;
  color: #f2f2f2;
  box-shadow: 0px 0px 6px 1px #aaa, inset 0px 0px 4px 0px #000;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  overflow: hidden;
}

.ButtonImage_container__FbXzm:active {
  box-shadow: 0px 0px 6px 1px #888;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.ButtonImage_controlOverlay__314bv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ButtonImage_play__3JBBf, .ButtonImage_edit__2pH57 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  opacity: 0;
  transition: .3s;
}

.ButtonImage_play__3JBBf {
  height: 80%;
}

.ButtonImage_play__3JBBf svg {
  width: 48px;
  fill: rgba(255, 255, 255, 0.8);
}

.ButtonImage_edit__2pH57 {
  height: 20%;
  border-top: 1px solid black;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 6px 1px #000;
}

.ButtonImage_container__FbXzm:hover .ButtonImage_play__3JBBf, .ButtonImage_container__FbXzm:hover .ButtonImage_edit__2pH57 {
  opacity: 1;
}

.ButtonImage_play__3JBBf:hover, .ButtonImage_edit__2pH57:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.ButtonSelect_options__2s-G- {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
}

.ButtonSelect_options__2s-G- li {
  background-color: #000;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.ButtonSelect_selected__3tG8E {
  background-color: #2c2c2c;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO {
  flex-direction: column;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO > li {
  border-right: 1px solid black;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO > li:first-child {
  border-top: none;
  border-radius: 6px 6px 0 0;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO > li:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid black;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO > li.ButtonSelect_selected__3tG8E {
  background-color: #2c2c2c;
  border-right: 1px solid #222;
}

.ButtonSelect_options__2s-G-.ButtonSelect_vertical__3USdO > li.ButtonSelect_selected__3tG8E:last-child {
  border-bottom: 1px solid #222;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde {
  flex-direction: row;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde > li {
  border-bottom: 1px solid black;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde > li:first-child {
  border-radius: 6px 0 0 6px;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde > li:last-child {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid black;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde > li.ButtonSelect_selected__3tG8E {
  background-color: #2c2c2c;
  border-bottom: 1px solid #222;
}

.ButtonSelect_options__2s-G-.ButtonSelect_horizontal__1Slde > li.ButtonSelect_selected__3tG8E:last-child {
  border-right: 1px solid #222;
}

.ControlRow_controlRow__v5Zw1 {
  justify-content: center;
  align-items: center;
  background-color: #101010;
  border-top: 1px solid black;
  height: 50px;
  width: 100%;
}

.ControlRow_controlRow__v5Zw1 > * {
  margin-right: 5px;
}

.ControlRow_controlRow__v5Zw1 > *:first-child {
  margin-left: 5px;
}

.Header_container__3CIGk {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #2c2c2c;
  border-bottom: 1px solid grey;
}

.Header_title__3t31D {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  height: 
}
.Header_pageName__3J9x3 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.Header_pageOption__2NcgS {
  padding-bottom: 5px;
}

.Header_back__hkX8D, .Header_menu__1-XLV {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.Header_back__hkX8D {
  width: 27px;
  fill: white;
}

.Header_disabled__2iTfK {
  fill: #666;
  cursor: default;
}

.Header_menuLine__1inUp {
  width: 24px;
  height: 4px;
  border-radius: 1px;
  margin-bottom: 3px;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}

.ImageScanView_imageScanPosition__3fNZv {
  height: 100%;
}

.ImageScanView_wrapper__1Toll {
  position: relative;
  min-height: 100px;
  min-width: 40px;
  margin: 10px;
  box-shadow: 0px 0px 6px 1px #aaa, inset 0px 0px 4px 0px #000;
  border: 1px solid black;
}

.ImageScanView_wrapper__1Toll:active {
  box-shadow: 0px 0px 6px 1px #888;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.ImageScanView_left__1weZ0 {
  position: absolute;
  width: 100%;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid white;
}

.ImageScanView_right__1Tb5_ {
  position: absolute;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 10px solid white;
}

.ImageScanView_placeholder__5o-gl, .ImageScanView_imageOutput__2EqqF {
  min-width: 40px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #f2f2f2;
}

.ImageScanView_imageLoader__2CMQ0 {
  display: none;
}

.ImageScanView_placeholder__5o-gl {
  text-align: center;
  align-self: center;
  padding: 5%;
}

.FlexColumn_flexColumn__2y9rf {
  display: flex;
  flex-direction: column;
}

.FlexColumn_alignItemsEnd__3m2mM {
  align-items: flex-end;
}

.FlexRow_flexRow__2ogIF {
  display: flex;
  flex-direction: row;
}

.FlexRow_alignItemsCenter__3X99g {
  align-items: center;
}

.FlexRow_flexGrow__3HfbC {
  flex-grow: 1;
}

.FlexRow_justifyContentEnd__2KwHN {
  justify-content: flex-end;
}

.FlexSpacer_container__2eq0L {
  flex-grow: 1;
}

.OverflowScroll_overflowScroll__21jJi {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.OverflowScroll_y__3hDHH {
  overflow-y: scroll;
}

.OverflowScroll_x__32ooM {
  overflow-x: scroll;
}

.Menu_container__3-ncW {
  width: 200px;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 1.3s cubic-bezier(0, .52, 0, 1);
  transition: transform .3s ease-in-out;
  overflow: scroll;
  z-index: 1000;

  color: #f2f2f2;
  background: #111;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.Menu_show__2b0LX {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.Menu_hide__2IBs_ {
  transform: translate3d(100vw, 0, 0);
}

.Menu_menuHeader__2bxuD {
  align-self: end;
  padding: 10px;
  cursor: pointer;
}

.Menu_menuItemsList__3xMgs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.Menu_menuItem__QZrGx {
  color: #f2f2f2;
  margin: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid black;
  cursor: pointer;
}

.Menu_menuItem__QZrGx span {
  display: block;
  color: #f2f2f2;
  padding: 1em;
  text-decoration: none;
}

.Menu_version__3HoJY, .Menu_hostname__3BBRh {
  align-self: center;
  font-size: smaller;
  padding: 0.2em;
}

.Modal_modalBackground__1mqtQ {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,.5);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.Modal_container__3NR-c {
  display: flex;
  justify-content: center;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.3);
  touch-action: none;
}


.ModalPane_pane__2weOa {
  background-color: #101010;
  align-self: center;
  align-items: center;
  min-width: 160px;
  max-width: 60vw;
  border-radius: 6px;
}

.ModalPane_title__3ybb1 {
  align-self: stretch;
  text-align: center;
  background: #2c2c2c;
  padding: 0.9em;
}


.MutableText_container__31aiy {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.MutableText_container__31aiy > * {
  margin: 0 2px;
}

.MutableText_container__31aiy:first-child {
  margin-left: 0;
}
.MutableText_container__31aiy:last-child {
  margin-right: 0;
}

.MutableText_text__vkf-S {
  flex-grow: 1;
}

.MutableText_editButton__3Sdc6, .MutableText_confirmButton__1UkCm, .MutableText_cancelButton__3H6Wt {
  width: 1.2em;
}

.MutableText_editIcon__3Ab0v {
  height: 16px;
  width: 16px;
  fill: white;
  stroke: none;
}

.Pane_pane__3xamQ {
  border: 1px solid #303030;
  background-color: #202020;
  padding: 10px;
}

.PaneList_container__2StPw {
}

.PaneList_listItem__2UOvF {
  margin-top: 10px;
}

.PaneList_listItem__2UOvF:first-child {
  margin-top: 0;
}

.PixelMode_container__3V2Zi {
  min-width: 60px;
}

.PixelMode_mix__2WH1r {
  color: white;
  font-weight: bold;
}

.PixelMode_rgb__3LWe9 {
  font-weight: bold;
}

.PixelMode_red__32_E_ {
  color: red;
}

.PixelMode_green__2orHu {
  color: green;
}

.PixelMode_blue__3SDMq {
  color: blue;
}

.PixelMode_paneOptions__3bWFL {
  letter-spacing: .1rem;
  padding: 10px;
  display: flex;
}

.PixelMode_info__2KMYU {
  align-self: stretch;
  text-align: center;
  font-size: smaller;
  padding: 0.9em;
}

.SelectionPaneIcon_container__2Wusl {
  width: 20px;
  height: 20px;
  stroke-width: 10px;
}

.SelectionPane_container__YbyQ3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: white;
  background-color: #333;
  padding: 1px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.SelectionPane_container__YbyQ3 > *:first-child {
  border-radius: 6px 6px 0 0;
}

.SelectionPane_container__YbyQ3 > *:last-child {
  border-radius: 0 0 6px 6px;
}

.SelectionPane_header__1AmEJ {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center;
  flex-grow: 1;
}

.SelectionPane_title__1uCTN {
  flex-grow: 1;
}

.SelectionPane_selected__3bhic > * {
  color: green;
  stroke: green;
  background-color: black;
}

.SelectionPane_someSelected__2dlOb > * {
  color: yellow;
  stroke: yellow;
  background-color: black;
}

.SelectionPane_deselected__3ZPV_ > * {
  color: #666;
  stroke: #666;
  background-color: #161616;
}

.SelectionPaneItem_container__2Kfsr {
  color: white;
  background-color: black;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.SelectionPaneItem_container__2Kfsr:active {
}

.SelectionPaneItem_contents__bZJx7 {
  flex-grow: 1;
}

.SelectionPaneItem_selected__3a0X9 {
  background-color: black;
  color: white;
  stroke: white;
}

.SelectionPaneItem_deselected__3iSLy {
  background-color: #161616;
  color: #666;
  stroke: #666;
}

.Slider_container__1Av5l {
  display: flex;
  width: 24px;
  height: 100%;
  border-radius: 9999px;
  background-color: #444;
  border: 2px solid rgba(255, 255, 255, 0.2);
  touch-action: none;
}

.Slider_disabled__2JMMI.Slider_container__1Av5l {
  background-color: #222;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.Slider_track__2dIF2 {
  width: 2px;
  position: relative;
}

.Slider_knob__3xFWx {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  cursor: pointer;
  border-radius: 9999px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  background-color: black;
}

.Slider_disabled__2JMMI .Slider_knob__3xFWx {
  background-color: #111;
  border: 2px solid rgba(255, 255, 255, 0.1);
  cursor: default;
}

.TextInputSingle_input__18Wfy {
  flex-grow: 1;
  width: 80px;
  min-width: 50px;
  background-color: black;
  color: white;
  border: 0;
  padding: 5px;
}


.Toggle_toggle__3vwRz {
  --golden-ratio: 1.618;
  --base-height: 1.5em;
  --toggle-duration: 0.3s;
  --border-width: 2px;

  --toggle-width: calc(var(--base-height) * var(--golden-ratio));
  --toggle-height: var(--base-height);

  --knob-width: var(--base-height);
  --knob-height: var(--base-height);

  font-size: 1.2rem;
  width: calc(var(--toggle-width) - var(--border-width) * 2);
  height: calc(var(--toggle-height) - var(--border-width) * 2);;
  border-radius: 9999px;
  border: var(--border-width) solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #411;
  transition-duration: var(--toggle-duration);
  transition-property: background-color;
  transition-timing-function: ease;
  touch-action: none;
  cursor: pointer;
}

.Toggle_toggle__3vwRz.Toggle_disabled__1DtV9 {
  background-color: #222;
  cursor: default;
  opacity: 0.6;
}

.Toggle_toggle__3vwRz.Toggle_toggled__1JZpL {
  background-color: #141;
  transition-duration: var(--toggle-duration);
  transition-property: background-color;
  transition-timing-function: ease;
}

.Toggle_toggle__3vwRz.Toggle_disabled__1DtV9.Toggle_toggled__1JZpL {
  background-color: #222;
}

.Toggle_knob__Us1zT {
  width: calc(var(--knob-width) - var(--border-width) * 4);
  height: calc(var(--knob-height) - var(--border-width) * 4);
  border-radius: 9999px;
  border: var(--border-width) solid rgba(255, 255, 255, 0.2);
  margin-left: 0px;
  background-color: black;
  transition-duration: var(--toggle-duration);
  transition-property: margin, background-color;
  transition-timing-function: ease;
  cursor: pointer;
}

.Toggle_toggle__3vwRz.Toggle_disabled__1DtV9 > .Toggle_knob__Us1zT {
  cursor: default;
}

.Toggle_toggle__3vwRz.Toggle_toggled__1JZpL > .Toggle_knob__Us1zT {
  margin-left: calc(var(--toggle-width) - var(--knob-width));
  background-color: black;
  transition-duration: var(--toggle-duration);
  transition-property: margin, background-color;
  transition-timing-function: ease;
}

.Toggle_tick__17b21, .Toggle_cross__1IxV- {
  height: calc(var(--base-height) / var(--golden-ratio) * 0.4);
  fill: white;
  width: 100%;
  transition-duration: var(--toggle-duration);
  transition-property: opacity;
  transition-timing-function: ease;
}

.Toggle_tick__17b21 {
  opacity: 0;
}

.Toggle_cross__1IxV- {
  margin-left: -100%;
  opacity: 1;
}

.Toggle_toggled__1JZpL .Toggle_tick__17b21, .Toggle_toggled__1JZpL .Toggle_cross__1IxV- {
  transition-duration: var(--toggle-duration);
  transition-property: opacity;
  transition-timing-function: ease;
}

.Toggle_toggled__1JZpL .Toggle_tick__17b21 {
  opacity: 1;
}

.Toggle_toggled__1JZpL .Toggle_cross__1IxV- {
  opacity: 0;
}

.ToggleText_c__1zzs9 {
  cursor: pointer;
}

.ToggleText_disabled__26QcE {
  cursor: default;
}

.ToggleText_text__fr6yB {
  margin-left: 6px;
}

.ToggleText_disabled__26QcE .ToggleText_text__fr6yB {
  opacity: 0.6;
}

.ToggleText_toggled__3T7he {
}

.ColourSelect_container__KU2GV {
  margin: 10px;
  flex: 1 1 auto;
}

.ColourSelect_colourSelect__1KqCw {
}

.ColourSelect_hueHandle__2vzXC, .ColourSelect_satHandle__1d74C, .ColourSelect_valHandle__lQFFb {
  stroke-width: 1px;
  stroke: black;
}

.ColourSelect_valHandle__lQFFb {
  stroke: white;
}

.ColourSelect_overlay__3t2Q1 {
  cursor: pointer;
  opacity: 0;
}

.ColourSelect_currentColour__1nLju {
  cursor: pointer;
}


/*# sourceMappingURL=main.f0553632.chunk.css.map*/